.loader{
    border: 20px solid #f3f3f3;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-top: 20px solid grey;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
